# Dependabot will run on day 14 of each month at 01:10 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "eifel-tech"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "eifel-tech"
